

<div class="container">

<ol class="breadcrumb">
  <li><%= link_to "Dashboard", dashboard_path  %></li>
  <li><%= link_to "Local Transpotation", local_transpotations_path  %></li>
  <li class="active">New local_transpotation</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">Form - New local_transpotation</div>

	<%= render 'form' %>

</div>