<div class="container">

<ol class="breadcrumb">
  <li><%= link_to "Dashboard", dashboard_path  %></li>
  <li><%= link_to "ReadyMade Packages", travel_packages_path  %></li>
  <li class="active">New ReadyMade Package</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">Form - New ReadyMade Package</div>

	<%= render 'form' %>

</div>