<div ng-app="plunker">
  <div ng-controller="MainCtrl">
      <div class="container">
            <ol class="breadcrumb">
              <li><%= link_to "Dashboard", dashboard_path  %></li>
              <li class="active">Hotels</li>
            </ol>

            <div class="panel panel-default">
              <div class="panel-heading">Listing hotels</div>
                <div class="panel-body">

                  <div ng-init="hotels = <%= @hotels.to_json %>"></div>

                      <form class="form-inline" role="form" >
                          <!-- filter by price -->
                        <div class="col-xs-2">
                            <input  ng-model="hotel.name" type="text" class="form-control input-lg" placeholder="By Name">
                        </div>
                        <div class="col-xs-2">
                            <input  ng-model="hotel.price" type="text" class="form-control input-lg" placeholder="By Price">
                        </div>
                        
                        <div class="col-xs-2">
                          <input ng-model="hotel.rank" type="text" class="form-control input-lg" placeholder="By Rank">
                        </div>

                        <div class="col-xs-2">
                          <input ng-model="hotel.star" type="text" class="form-control input-lg" placeholder="By Star">
                        </div>
                        
                        <button class="btn btn-primary btn-lg" id="help_btn" data-toggle="modal" data-target="#myModal">
                            Help ?
                        </button>

                        <%= link_to "New Hotel", new_hotel_path, :id => "new_btn", :class =>"btn btn-warning btn-lg active"  %> 

                      </form>
                      <br/><br/><br/>
                          <table class="table table-bordered">
                              <thead>
                                      <tr>
                                        <th><h5><b>Name</b></h5></th>
                                        <th><h5><b>Price</b></h5></th>
                                        <th><h5><b>Rank</b></h5></th>
                                        <th><h5><b>Star</b></h5></th>
                                        <th><h5><b>Contact</b></h5></th>
                                        <th><h5><b>Description</b></h5></th>
                                        <th colspan="1"><h5><b>Actions</b></h5></th>
                                      </tr>
                              </thead>
                              <tbody>
                              <tbody>
                                      <tr ng-repeat="hotel in hotels | filter:{name: hotel.name, price: hotel.price, rank: hotel.rank, star: hotel.star}">              
                                         <td>{{hotel.name}}</td>
                                         <td>{{hotel.price}}</td>
                                         <td>{{hotel.rank}}</td>
                                         <td>{{hotel.star}}</td>
                                         <td>{{hotel.contact}}</td>
                                         <td>{{hotel.description}}</td>
                                         <td>
                                         <a class="btn btn-primary btn-sm" href="/hotels/{{hotel.id}}">Show</a>
                                         <a class="btn btn-warning btn-sm" href="/hotels/{{hotel.id}}/edit">Edit</a>
                                         <a class="btn btn-danger btn-sm" data-confirm="Are you sure?" data-method="delete" href="/hotels/{{hotel.id}}" rel="nofollow">Destroy</a>


                              </tbody>
                          </table>

              </div>
          </div>
      </div>  
    </div>
</div>

<br>



<!-- dialog for help -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">How to article?</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->